.root {
  color: var(--color-black);
  border: 1px solid var(--color-black);
  padding-left: var(--space-8x);
  padding-right: var(--space-8x);
  padding-top: var(--space-4x);
  padding-bottom: var(--space-4x);
  outline: none;
  border-radius: var(--rounded);
  font-weight: 500;
  font-size: var(--fontSize-xl);
  background: var(--transparent);
  cursor: pointer;
  width: 100%;
}

.root:hover {
  background: var(--color-gray-100);
}
