@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700&display=swap");

@tailwind base;
@tailwind components;

html {
  font-family: Roboto, Verdana, Arial;
}


@tailwind utilities;